.modal-dialog {
  label {
    font-weight: 600;
  }
}
.container-import {
  display: flex;
  .btn-import {
    margin-left: auto;
    background: #eaeaea;
    font-weight: 600;
  }
  margin-bottom: 20px;
}
.kproduct-container {
  max-width: 1176px;
  margin: auto !important;
  .ct-categories {
    margin-bottom: 40px;
    flex-wrap: wrap;
    border-top: 1px solid #e2e5ec;
    border-left: 1px solid #e2e5ec;
    .col-md-3 {
      padding: 0px;
      span {
        font-size: 15px;
        flex: 3;
        text-align: left;
      }
      .icon-category {
        width: 40px;
        height: 40px;
        flex: 1;
      }
      .btn {
        padding: 12px 24px;
        height: 100%;
        border-radius: 0px;
        border-top: none;
        border-left: none;
        background-color: #fff;
      }
    }
  }
  .kt-searchbar {
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    .input-group-text {
      border: none;
      background-color: #fff !important;
      padding: 0 0.65rem 0 1rem;
    }
    .input-group .form-control {
      border: none;
      background-color: #fff !important;
      padding: 0;
    }
    button {
      margin-left: 20px;
    }
  }
}
.page-title {
  margin-left: 50px;
  margin-bottom: 30px;
}
@media (min-width: 1025px) {
  .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
    padding-top: 80px !important;
  }
}
