.images-tab {
  .image-container {
    margin-bottom: 30px;
    box-shadow: 0 0 6px 0 #5867dd1f;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  img {
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
