.icon-plus {
  height: 12px;
  width: 12px;
  fill: #b5c6da;
  transform: rotate(45deg);
  margin-top: 10px;
  margin-right: 20px;
}
.icon-arrow {
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
  fill: #b5c6da;
}

.pricing-rules {
  font-size: 18px;
}
.cost-title {
  font-size: 15px;
  margin-right: 20px;
  margin-top: 8px;
}
.kt-rules {
  margin-left: 100px;
}
.form-price {
  width: 70px !important;
}
